/* styles/ExchangeRates.module.css */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.h1 {
  text-align: center;
}

.lastUpdate {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;  /* Added to ensure visibility on dark background */
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: rgb(33, 32, 32);
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 250px;
  margin: 15px;
  padding: 20px;
  text-align: center;  
  transition: background-color 0.3s;
}

.card:hover {
  background-color: #1f4458;
}

.logo {
  margin-bottom: 15px;
}

.h2 {
  font-size: 1.25em;
  margin-bottom: 10px;
}

.p {
  font-size: 1em;
  color: #333;
}